<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Users</h2>

    <% if (Appusers.length > 0) { %>
      <% Appusers.forEach(appuser => { %>

        <h3 class="user-id"><%= appuser._id %></h3>
        <p class="username"><%= appuser.username %></p>

      <% }) %>
    <% } else { %>
      <p>There are no users to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>